@page "/"

<section class="home" id="home">
    <div class="home-content">
        <h3>Welcome to</h3>
        <h1>Blazor Gourmet</h1>
        <p>Discover delicious recipes and explore a world of food with our Blazor-powered app. Search meals, ingredients, and more!. Whether you're a seasoned chef or just starting out, our app provides easy-to-follow recipes to suit your taste.</p>
        <a href="/lastests" class="btn btn-success btn-lg">Latest Meals</a>
    </div>
    <div class="home-img">
        <img src="images/food-image.png" alt="food image" />
    </div>
</section>


<section class="meal" id="meal">
    <div class="meal-img">
        <img src="images/about.jpg" alt="food-collage" />
    </div>
    <div class="meal-content">
        <h1 class="heading">Discover New Flavors!</h1>
        <p>Embark on a culinary journey with our curated recipes. From mouthwatering mains to decadent desserts, find the perfect dish to elevate any occasion. Explore fresh ingredients, expert tips, and delicious inspiration today!</p>
        <a href="/recipes" class="btn btn-success btn-lg">Explore Recipes</a>
    </div>
</section>

<section class="category" id="category">
    <h1 class="heading">Categories</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 shadow text-center">
                    <img src="images/pasta.png" class="card-img-top" alt="pasta">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Pasta</strong></h5>
                        <p class="card-text">Pasta is a staple food of traditional Italian cuisine, with the first reference dating to 1154 in Sicily. Also commonly used to refer to the variety of pasta dishes, pasta is typically a noodle made from an unleavened dough of a durum wheat flour mixed with water or eggs and formed into sheets or various shapes.</p>
                        <a href="/categories" class="btn btn-success">Find Out More</a>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow text-center">
                    <img src="images/dessert.png" class="card-img-top" alt="desert">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Deserts</strong></h5>
                        <p class="card-text">Dessert is a course that concludes a meal. The course usually consists of sweet foods, such as confections dishes or fruit, and possibly a beverage such as dessert wine or liqueur, however in the United States it may include coffee, cheeses, nuts, or other savory items regarded as a separate course elsewhere.</p>
                        <a href="/categories" class="btn btn-success">Find Out More</a>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow text-center">
                    <img src="images/vegetarian.png" class="card-img-top" alt="vegetarian">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Vegetarian</strong></h5>
                        <p class="card-text">Vegetarianism is the practice of abstaining from the consumption of meat (red meat, poultry, seafood, and the flesh of any other animal), and may also include abstention from by-products of animal slaughter. Vegetarianism may be adopted for various reasons. Many people object to eating meat out of respect for sentient life.</p>
                        <a href="/categories" class="btn btn-success">Find Out More</a>
                        <div class="card-footer">
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>