<footer class="flex-shrink-0">
    <div class="p-3 footerStyle" data-bs-theme="dark">
        <div class="container-xxl">
            <div class="row row-cols-1 row-cols-md-3 text-center align-items-center g-3">
                <div class="col text-md-start order-last order-md-first">
                    <div class="row">
                        <div class="col-12">
                            <span class="me-1">Built by</span>
                            &copy; 2024 Andres Beltran
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex align-items-center justify-content-center flex-wrap gap-1">
                        <div class="d-none d-md-block">
                            Powered by
                        </div>
                        <div>
                            <a href="https://www.themealdb.com/">
                                <img src="/images/logo-mealdb.png" alt="imdb logo" height="30" />
                            </a>
                        </div>
                         
                    </div>
                </div>
                <div class="col text-md-end">
                    <div class="row">
                        <div class="col-12">
                            <a href="https://www.youtube.com/%40andresbeltran5779" target="_blank"><i class="bi bi-youtube"></i></a>
                            <a href="https://github.com/abeltran12" target="_blank"><i class="bi bi-github"></i></a>
                            <a href="https://www.linkedin.com/in/andr%C3%A9s-beltr%C3%A1n-014b041b3/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>