.footerStyle {
    background-color: var(--cf-green-core);
    color: var(--cf-light-color);
}

    .footerStyle a {
        color: var(--cf-light-color);
    }

        .footerStyle a:hover {
            color: var(--cf-theme-core);
        }

    .footerStyle .bi {
        font-size: 1.5rem;
        padding-inline-start: 0.5rem;
    }
